---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:      'Open Sans', sans-serif;
$mobile-base-font-size: 16px;
$base-font-size:        18px;
$small-font-size:       $base-font-size * 0.875;
$base-line-height:      1.8;

$mobile-spacing-unit: 10px;
$spacing-unit:        20px;

$text-color:       #333;
$background-color: #fff;
$brand-color:      #FF4D4D;
$line-color:       #ECF0F1;

$grey-color:            #7F8C8D;
$grey-color-light:      #BFBFBF;
$grey-color-dark:       #BDC3C7;
$grey-color-semi-dark:  #838C94;

$tablet:      768px;

@mixin mq-mobile {
  @at-root (with: rule) {
    @media screen and (max-width: $tablet) {
      @content;
    }
  }
}

@mixin mq-tablet {
  @at-root (with: rule) {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout";
