<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% capture title %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
    {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
    {% capture url %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
    {% capture image %}{% if page.image %}{{ page.image | prepend: site.baseurl | prepend: site.url }}{% else %}http://blog.digongames.com/img/socialshare.png{% endif %}{% endcapture %}

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}">
    <meta property="og:url" content="{{ url }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@digongames">
    <meta name="twitter:creator" content="@{% if page.author %}{{ page.author }}{% else %}digongames{% endif %}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" type="text/css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css">

    <link rel="canonical" href="{{ url }}">
</head>
