<header class="site-header">

  <h1>
    <a href="{{ site.baseurl }}/">
      <img src="/img/digon-logo.png" width="200" height="119" alt="{{ site.title }}">
      <span class="visuallyhidden">{{ site.title }}</span>
    </a>
  </h1>

  <p class="about-digon">
    Digon Games is a game development studio in Reykjavík focusing on casual sports games. <a href="http://www.digongames.com/">More</a>.
  </p>

  <nav class="topnav">
    <ul>
      <li><a href="/posts/">Posts</a></li>
      <li><a href="http://www.digongames.com/">About</a></li>
      <li><a href="http://kickoff.cm/">Kickoff</a></li>
      <li><a href="/feed.xml">Feed</a></li>
    </ul>
  </nav>
</header>
