/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $mobile-base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: $text-color;
  background: $background-color;
  -webkit-text-size-adjust: 100%;
  border-top: 10px solid $brand-color;

  @include mq-tablet {
    font-size: $base-font-size;
  }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6,
blockquote, pre,
ul, ol, dl, figure {
  margin-top: 1.5em;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure {
  margin: ($spacing-unit * 2) 0;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
  margin-left: $mobile-spacing-unit;

  @include mq-tablet {
    margin-left: $spacing-unit;
  }
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;
  transition: color 0.15s ease-in-out;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    text-decoration: underline;
  }
}

/**
 * Inline code
 */
code {
  background: #f8f8f8;
  padding: 0.1em 0.4em;
  font-size: 0.88888888888889em;
}

/**
 * Block code
 */
pre {
  margin: ($spacing-unit * 2) 0;
  line-height: 1.5;
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}


.wrapper {
  max-width: 700px + $spacing-unit * 2;
  margin: 0 auto;
  padding: 0 $mobile-spacing-unit;

  @include mq-tablet {
    padding: 0 $spacing-unit;
  }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.inverted-link {
  color: $grey-color;

  &:hover {
    color: $brand-color;
    text-decoration: none;
  }
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
