.site-header {
  border-bottom: 1px solid $line-color;
  text-align: center;
  padding: ($spacing-unit * 2) 0;
  margin-bottom: $spacing-unit * 2;

  h1 {
    margin: 0;

    img {
      @include mq-mobile {
        max-width: 150px;
        height: auto;
      }
    }
  }

  .about-digon {
    font-style: italic;
    font-size: 12px;
    line-height: 17px;
    color: $grey-color-light;
    max-width: 316px;
    margin: ($spacing-unit * 2) auto;
  }

  .topnav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;

    li {
      display: inline;
      font-weight: 700;
      line-height: 1;

      &:before {
        content: '•';
        color: $grey-color-light;
        font-size: 18px;
      }

      &:first-child:before {
        content: ''
      }

      a {
        display: inline-block;
        padding: ($mobile-spacing-unit / 2) $mobile-spacing-unit;
        @extend .inverted-link;

        @include mq-tablet {
          padding: ($spacing-unit / 2) $spacing-unit;
        }
      }
    }
  }
}


.forofor {
  text-align: center;

  h2 {
    color: $grey-color;
    font-size: 48px;
  }
}


.post {
  header {
    text-align: center;

    h2 {
      color: $grey-color;
      font-size: 32px;
      line-height: 1.35416666666667;
      margin: 0;

      @include mq-tablet {
        font-size: 48px;
      }

      a {
        @extend .inverted-link;
      }
    }

    p {
      font-size: 12px;
      line-height: 1.41666666666667;
      margin: $spacing-unit auto ($spacing-unit * 2.5);
      color: $grey-color-light;
    }
  }

  article {
    @include mq-tablet {
      margin: 0 ($spacing-unit * 2.5);
    }
  }

  ul {
    margin-left: 0;

    li {
      list-style: none;
      margin: 0 0 0 $mobile-spacing-unit * 2;
      position: relative;

      @include mq-tablet {
        margin: 0 0 0 $spacing-unit * 3;
      }

      &:before {
        content: '•';
        color: $grey-color-dark;
        font-size: 30px;
        line-height: 1;
        position: absolute;
        top: 0;
        left: -20px;

        @include mq-tablet {
          font-size: 36px;
          top: 1px;
          left: -30px;
        }
      }
    }
  }
}


.next-post-link {
  font-weight: 700;
  margin: 0 ($spacing-unit * 2.5);
  text-align: right;

  a {
    @extend .inverted-link;
  }
}


.all-articles {
  text-align: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: $spacing-unit * 2;
    }
  }

  h2 {
    font-size: 24px;
    margin-bottom: 0;

    a {
      @extend .inverted-link;
    }
  }

  p {
    font-size: 12px;
    color: $grey-color-light;
  }
}


.site-footer {
    border-top: 1px solid $line-color;
    padding: ($spacing-unit * 1.5) 0;
    margin-top: $spacing-unit * 4.5;
    text-align: center;
    font-size: 12px;
    color: $grey-color-light;

    a {
      color: $grey-color-light;

      &:hover {
        color: $grey-color;
        text-decoration: none;
      }
    }
}


.social-icons {
  margin: $spacing-unit 0 0 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0 $spacing-unit;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
  }

  a {
    display: block;
    height: 50px;
    width: 50px;
    -webkit-transition: background 200ms ease-in-out;
    -moz-transition: background 200ms ease-in-out;
    -ms-transition: background 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out;
  }

  .twitter {
    background: #4CC3FF;
  }
  .facebook {
    background: #5588E0;
  }
  .twitter a {
    background: transparent url('/img/twitter.svg') no-repeat center;
  }
  .facebook a {
    background: transparent url('/img/facebook.svg') no-repeat 58% 100%;
  }
  a:hover {
    background-color: rgba(0,0,0, 0.2);
  }
}
