.site-header {
  border-bottom: 1px solid $line-color;
  text-align: center;
  padding: ($spacing-unit * 2) 0;
  margin-bottom: $spacing-unit * 2;

  h1 {
    margin: 0;
  }

  .about-digon {
    font-style: italic;
    font-size: 12px;
    line-height: 17px;
    color: $grey-color-light;
    width: 316px;
    margin: ($spacing-unit * 2) auto;
  }

  .topnav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;

    li {
      display: inline;
      font-weight: 700;
      line-height: 1;

      &:before {
        content: '•';
        color: $grey-color-light;
        font-size: 18px;
      }

      &:first-child:before {
        content: ''
      }

      a {
        display: inline-block;
        color: $grey-color;
        padding: ($spacing-unit / 2) $spacing-unit;

        &:hover {
          color: $brand-color;
          text-decoration: none;
        }
      }
    }
  }
}


.post {
  header {
    text-align: center;

    h2 {
      color: $grey-color;
      font-size: 48px;
      line-height: 1.35416666666667;
      margin: 0;
    }

    p {
      font-size: 12px;
      line-height: 1.41666666666667;
      margin: $spacing-unit auto ($spacing-unit * 2.5);
      color: $grey-color-light;
    }
  }

  article {
    margin: 0 ($spacing-unit * 2.5);

    p {
      margin-bottom: 1em;
    }
  }
}


.site-footer {
    border-top: 1px solid $line-color;
    padding: ($spacing-unit * 1.5) 0;
    margin-top: $spacing-unit * 4.5;
    text-align: center;
    font-size: 12px;
    color: $grey-color-light;

    a {
      color: $grey-color-light;

      &:hover {
        color: $grey-color;
        text-decoration: none;
      }
    }
}


.social-icons {
  margin: $spacing-unit 0 0 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0 $spacing-unit;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
  }

  a {
    display: block;
    height: 50px;
    width: 50px;
    -webkit-transition: background 200ms ease-in-out;
    -moz-transition: background 200ms ease-in-out;
    -ms-transition: background 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out;
  }

  .twitter {
    background: #4CC3FF;
  }
  .facebook {
    background: #5588E0;
  }
  .twitter a {
    background: transparent url('/img/twitter.svg') no-repeat center;
  }
  .facebook a {
    background: transparent url('/img/facebook.svg') no-repeat 58% 100%;
  }
  a:hover {
    background-color: rgba(0,0,0, 0.2);
  }
}
